<section id="header">
    <canvas id="c"></canvas>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="head-title text-center">Cookery Map API Demo</h3>
            </div>



        </div>
        <div class="row ">
            <div class="col-12 pt-5 pb-3 bg-light" id="zip">
                <form name="cm-search" method="get" action="/cookery/zipcode">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="badge badge-lg badge-primary" for="category_select">Category</label>
                                <select class="form-control form-control-lg" id="category_select" name="category">
                                    <% for(const ele of categories){ %>
                                        <option><%= ele %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="badge badge-lg badge-primary">Zipcode</label>
                                <input class="form-control" name="zipcode" placeholder="91709"
                                       value="<%= payload.query.zipcode %>"/>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Search</button>
                            </div>
                        </div>
                    </div>





                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12 ">
                <h3 class="head-title text-center">Results</h3>
            </div>

        </div>

        <div class="row">
            <div class="col-6 pt-3 pb-3 bg-light">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Result
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Zipcode: <%= payload.query.zipcode %></li>
                        <li class="list-group-item">Category: <%= payload.query.category %></li>
                        <li class="list-group-item">Location: <%= zipcity%></li>
                        <li class="list-group-item">Count: <%= payload.count %></li>
                    </ul>
                </div>
            </div>

            <div class="col-6 pt-3 pb-3 bg-light">
                <div id="map"></div>
                <script>
                    function initMap() {
                        // The location of Uluru
                        var point = {lat: <%= ziplat %>, lng: <%= ziplng %>};
                        // The map, centered at Uluru
                        var map = new google.maps.Map(
                            document.getElementById('map'), {zoom: 12, center: point});
                        // The marker, positioned at Uluru
                        var marker = new google.maps.Marker({position: point, map: map});
                    }
                </script>
            </div>
        </div>
    </div>
</section>