<section id="header">
    <canvas id="c"></canvas>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="head-title text-center">Cookery Map API Demo</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12 bg-half">
                <ul class="nav nav-tabs ">
                    <li class="nav-item">
                        <a class="nav-link <%= search_type==='zipcode'?'active':''%>" href="/cookery/zipcode">Zipcode Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= search_type==='area'?'active':''%>" href="/cookery/area">Coordinate Search</a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="row <%= search_type==='zipcode'?'':'hidden'%>">
            <div class="col-12 pt-5 pb-3 bg-half" id="zip">
                <form name="cm-search" method="get" action="/cookery/zipcode">
                    <div class="row">
                        <div class="col-6 pl-5 pr-5">
                            <div class="form-group">
                                <label class="badge badge-lg badge-primary" for="category_select">Category</label>
                                <select class="form-control form-control-md" id="category_select" name="category">
                                    <% for(const ele of categories){ %>
                                        <option <%= payload.query.category === ele?'selected="selected"':''%>><%= ele %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="col-6 pl-5 pr-5">
                            <div class="form-group">
                                <label class="badge badge-lg badge-primary">Zipcode</label>
                                <input class="form-control" name="zipcode" placeholder="91007"
                                       value="<%= payload.query.zipcode %>"/>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="text-center pt-3">
                                <div class="form-group">
                                    <button class="btn btn-success" type="submit">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>





                </form>
            </div>
        </div>

        <div class="row <%= search_type==='area'?'':'hidden'%>">
            <div class="col-12 pt-5 pb-3 bg-half" id="area">
                <form name="cm-search" method="get" action="/cookery/area">
                    <div class="row">
                        <div class="col-3 pl-5 pr-5">
                            <div class="form-group">
                                <label class="badge badge-lg badge-primary" for="category_select">Category</label>
                                <select class="form-control form-control-md" id="category_select" name="category">
                                    <% for(const ele of categories){ %>
                                        <option <%= payload.query.category === ele?'selected="selected"':''%>><%= ele %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="col-3 pl-5 pr-5">
                            <div class="form-group">
                                <label class="badge badge-lg badge-primary">Latitude</label>
                                <input class="form-control" name="lat" placeholder="33.11232"
                                       value="<%= payload.query.lat %>"/>
                            </div>
                        </div>

                        <div class="col-3 pl-5 pr-5">
                            <div class="form-group">
                                <label class="badge badge-lg badge-primary">Longtitude</label>
                                <input class="form-control" name="lng" placeholder="-117.11232"
                                       value="<%= payload.query.lng %>"/>
                            </div>
                        </div>
                        <div class="col-3 pl-5 pr-5">
                            <div class="form-group">
                                <label class="badge badge-lg badge-primary">Radius</label>
                                <input class="form-control" name="radius" placeholder="21"
                                       value="<%= payload.query.radius %>"/>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="text-center pt-3">
                                <div class="form-group">
                                    <button class="btn btn-success" type="submit">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>





                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-12 ">
                <h3 class="head-title text-center">Results</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-6 pt-3 pb-3 bg-half">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Result
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item <%=search_type === 'zipcode'?'':'hidden'%>">Zipcode: <%= payload.query.zipcode %></li>
                        <li class="list-group-item <%=search_type === 'area'?'':'hidden'%>">Radius: <%= payload.query.radius %></li>
                        <li class="list-group-item">Category: <%= payload.query.category %></li>
                        <li class="list-group-item">Location: <%= zipcity%></li>
                        <li class="list-group-item">Count: <%= payload.count %></li>
                    </ul>
                </div>
            </div>

            <div class="col-6 pt-3 pb-3 bg-half">
                <div id="map"></div>
                <script>
                    function initMap() {
                        // The location of Uluru
                        var point = {lat: <%= ziplat %>, lng: <%= ziplng %>};
                        // The map, centered at Uluru
                        var map = new google.maps.Map(
                            document.getElementById('map'), {zoom: 12, center: point});
                        // The marker, positioned at Uluru
                        var marker = new google.maps.Marker({position: point, map: map});
                    }
                </script>
            </div>
        </div>
    </div>
</section>